.container{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Cookie", serif;
    font-size: 2rem;
}

.container div{
    margin-top: 1rem;
}

.container div a{
    text-decoration: none;
    color: whitesmoke;
    background-color: #E54656;
    border-radius: 4px ;
    padding-right: 4px;
    padding-left: 4px;
}

.footer{
    font-size: 1.7rem;
    position: absolute;

    bottom: 1rem;
}
@font-face {
    font-family: "Cookie";
    font-style: normal;
    font-weight: 400;
    src: local("Cookie-Regular"), url("http://fonts.gstatic.com/s/cookie/v8/syky-y18lb0tSbf9kgqS.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}